    <ul id="menu">
        <li><a class="nav-link" href="{{ path('home') }}">Home</a></li>
        <li><a class="nav-link" href="{{ path('libro') }}">Libros</a></li>
        <li><a class="nav-link" href="{{ path('autor') }}">Autores</a></li>
        <li><a class="nav-link" href="{{ path('editorial') }}">Editoriales</a></li>
        <li><a class="nav-link" href="{{ path('login') }}">Login</a></li>
        <li><a class="nav-link" href="{{ path('about') }}">Sobre Nosotros</a></li>
    </ul>
